body {
    font-family: "Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
}

.page_profile_info {
    width: 900px;
    margin: 30px auto;
    background-color: #fff;
    border: 1px solid #e5e5e7;
}

.page_profile_info_inner {
    padding: 30px 0;
    position: relative;
}

.profile_info_area {
    padding: 30px 0;
    margin: 0 55px;
    border-bottom: 1px solid #e5e5e7;
}

    .profile_info_area:after {
        display: none;
    }

    .profile_info_area .profile_info_group {
        position: relative;
        overflow: visible;
    }

    .profile_info_area .profile_avatar {
        left: 0;
        top: 0;
        width: 110px;
        height: 110px;
        position: absolute;
    }

    .profile_info_area .profile_info_group, .profile_info_area .profile_desc {
        padding-left: 144px;
    }

        .profile_info_area .profile_desc .profile_desc_label {
            color: #8c8c8c;
        }

.icon_original_tag {
    background: transparent url(/mmbizwap/zh_CN/htmledition/images/icon/appmsg/icon_original_tag55871f.png) no-repeat 0 0;
    width: 49px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100px;
    overflow: hidden;
    border-width: 0;
    padding: 0;
}

.qr_code_pc_outer {
    display: block;
}

.weui_category_title {
    display: none;
}

.msg_card_tips {
    display: block;
}

.weui_msg_card_list {
    padding: 0 40px;
}

.weui_msg_card {
    margin: 0;
    padding: 0;
}

    .weui_msg_card:before, .weui_msg_card:after {
        display: none;
    }

.weui_msg_card_hd {
    display: none;
}

.weui_media_box {
    padding: 26px 15px;
    border-bottom: 1px solid #e5e5e7;
}

    .weui_media_box:before, .weui_media_box:after {
        display: none;
    }

    .weui_media_box .weui_media_extra_info {
        display: block;
        color: #8c8c8c;
        padding-top: 30px;
        font-size: 14px;
    }

    .weui_media_box.appmsg .weui_media_hd {
        width: 195px;
        height: 125px;
        margin-left: 24px;
    }

    .weui_media_box.appmsg .weui_media_title {
        padding-top: 5px;
        overflow: visible;
    }

    .weui_media_box.appmsg:hover {
        cursor: pointer;
    }

        .weui_media_box.appmsg:hover .weui_media_title {
            text-decoration: underline;
        }

    .weui_media_box.appmsg .weui_media_desc {
        display: block;
        white-space: normal;
        padding-top: 10px;
    }

    .weui_media_box.img img {
        width: 195px;
    }
